/* You can add global styles to this file, and also import other style files */
@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $family-primary;
  // scroll-behavior: smooth;
}
p,
h5 {
  padding: 0;
}
