$family-primary: "Poppins", sans-serif;
$family-secondary: "Poppins", sans-serif;
$color-primary: #303841;
$color-secondary: #363e47;
$color-third: #fdfdfd;
$text-color-primary: #8c9399;
$text-color-secondary: #9c9fa4;
$bg-color-primary: #f2f7f7;
$bg-color-secondary: #fefefe;
$color-white: #fcffff;
$color-message-primary: #54d38a;
$bg-message-secondary: #f9fafb;
