<div class="wrapper">
  <div class="wrapper-profile">
    <div class="photo">
      <img src="https://cdn.pixabay.com/photo/2015/11/26/00/14/woman-1063100__340.jpg" alt="">
    </div>
    <div class="text-center mt-3">
      <h3 class="name">Chirs Marina</h3>
      <h4 class="profesion">UI/UX Desinger</h4>
    </div>
    <div class="wapper-info">
      <div class="info">
        <div class="info-user">
          <span><i class="fas fa-map-marker-alt"></i></span>
          <p>Colombia</p>
        </div>
        <div class="info-user">
          <span><i class="fas fa-envelope"></i></span>
          <p>chirsmarina@hotmail.com</p>
        </div>
        <div class="info-user">
          <i class="fas fa-birthday-cake"></i>
          <p>Abril 25, 1990</p>
        </div>
        <div class="info-user">
          <span><i class="fas fa-mobile-alt"></i></span>
          <p>1266558</p>
        </div>
      </div>
    </div>
    <div class="wrapper-social">
      <div class="social">
        <div class="social-user">
          <span>
            <i class="fab fa-instagram"></i>
          </span>
          <p>Instagram activity</p>
        </div>
        <div class="social-photo">
          <img src="https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396__340.jpg" alt="image">
        </div>

      </div>
    </div>
  </div>
</div>
